.feedback{
    background: url(../../assets/images/feedback.jpg);
    background-position: center;
    background-size: cover;
}
.feedback .row .feedbackcontainer{
    background: linear-gradient(45deg, #207dff 0%, #00bd55 100%); 
    opacity: .8;
}
.feedback .row .feedbackcontainer .container h1{
    color: #fff;
    font-family:'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
}
.feedbackcontainer input{
    border-radius: 10px;
}