<div class="feedback">
    <div class="row w-100 m-0">
        <div class="col-md-6 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12 feedbackcontainer">
            <div class="container ">
                <h1>Send FeedBack...😊</h1>
                <div class="form-group">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col-md-6 col-sm-12 mb-3">
                            <input type="text" class="form-control" placeholder="Your First Name" name="" id="">
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <input type="text" class="form-control" placeholder="Your Last Name" name="" id="">
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <input type="email" class="form-control" placeholder="Your Email" name="" id="">
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <input type="date" class="form-control" placeholder="DD-MM-YYYY" name="" id="">
                        </div>
                        <div class="col-md-12 col-sm-12 mb-3">
                            <textarea class="form-control" rows="5" placeholder="Your Message" required></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success w-100 mb-5" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>