.logo{
    height: 60px;
    width: 100px;
}
.navbar{
    /* background: #FF8008 !important; */
    /* background: -webkit-linear-gradient(to right, #FFC837, #FF8008) !important; */
    background: linear-gradient(to right, #FFC837, #FF8008) !important;
    opacity: .9;
}
.navbar ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff !important;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.navbar ul li a:hover{
    color: black !important;
}
