<!-- <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="sapce-around center">
        <div fxLayout="row">
            <button mat-button>
                <img src="../../assets/images/s1.png" class="logo" alt="">
                <mat-icon>book</mat-icon>&nbsp;
                <span class="logo">PPl Link To Pet</span>
            </button> 
            <div *ngIf='!deviceXs'>
                <button mat-button>
                    <mat-icon>home</mat-icon><span> Home</span>
                </button>
                <button mat-button>
                    <mat-icon>list_alt</mat-icon><span> About</span>
                </button>
                <button mat-button>
                    <mat-icon>phone_in_talk</mat-icon><span> Contact</span>
                </button>
                <button mat-button>
                    <mat-icon>not_listed_location</mat-icon><span> FAQ</span>
                </button>
            </div>
        </div>
        <div>
            <button mat-button>
                <mat-icon *ngIf='deviceXs'>login</mat-icon>
                <mat-icon>login</mat-icon><span *ngIf='!deviceXs'> Login</span>
                
            </button>
        </div>

    </mat-toolbar-row>

    <mat-toolbar-row *ngIf='deviceXs' fxLayoutAlign="space-between">
        <button mat-button>
            <mat-icon>home</mat-icon><span> Home</span>
        </button>
        <button mat-button>
            <mat-icon>list_alt</mat-icon><span> About</span>
        </button>
        <button mat-button>
            <mat-icon>phone_in_talk</mat-icon><span> Contact</span>
        </button>
        <button mat-button>
            <mat-icon>not_listed_location</mat-icon><span> FAQ</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<app-slider></app-slider> -->

<nav class="navbar navbar-expand-lg navbar-light" style="z-index: 9999;position: fixed;top: 0;width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../assets/images/s1.png" class="logo" alt="">
          PPL
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/']"><i class="fa fa-home fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa fa-sticky-note fa-lg"></i> About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa fa-phone fa-lg"></i> Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa fa-question fa-lg"></i> FAQ Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="[ '/timeline']"><i class="fa fa-comment fa-lg"></i> TimeLine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="cursor:pointer" [routerLink]="[ '/login']" ><i class="fa fa-user fa-lg"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="[ '/signup']"><i class="fa fa-key fa-lg"></i> Sign Up</a>
          </li>
          <li class="nav-item">
            <div class="dropdown" >
              <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user fa-lg" style="color: black;"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <app-slider></app-slider>
  <app-chooseus></app-chooseus>
  <app-blog></app-blog>
  <app-feedback></app-feedback> -->
  <!-- <app-login></app-login> -->
  <!-- <app-footer></app-footer> -->