<div class="footer">
    <div class="container">
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-md-4 col-sm-12">
                <h1>PPL</h1>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <div class="social-icon">
                    <ul>
                        <li><i class="fa fa-facebook fa-lg"></i></li>
                        <li><i class="fa fa-twitter fa-lg"></i></li>
                        <li><i class="fa fa-instagram fa-lg"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <h1>Latest Blogs</h1>
            </div>
            <div class="col-md-2 col-sm-12">
                <h1>Quick Link</h1>
                <div class="link">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <h1>Have Any Question ?</h1>
                <div class="question">
                    <div class="card mb-2">
                        <div class="row">
                          <div class="col-md-2">
                            <!-- <img src="..."  alt="..."> -->
                            <i class="fa fa-address-card fa-lg"></i>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body p-0 m-0">
                              <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="row">
                          <div class="col-md-2">
                            <!-- <img src="..."  alt="..."> -->
                            <i class="fa fa-phone fa-lg"></i>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body p-0 m-0">
                              <p>	+2 392 3929 210</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="row">
                          <div class="col-md-2">
                            <!-- <img src="..."  alt="..."> -->
                            <i class="fa fa-send fa-lg"></i>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body p-0 m-0">
                              <p>	info@yourdomain.com</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <p class="text-center pt-5 pb-5">Copyright ©2020 All rights reserved To PPL </p>
            </div>
        </div>
    </div>
</div>