<div class="timeline">
    <div class="container">
        <div class="row d-flex justify-content-center flex-column-reverse flex-lg-row w-100 p-0 m-0">
            <div class="col-md-8 col-sm-12">
                <div class="profile">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="row w-100">
                                <div class="col-md-3">
                                    <img src="assets/images/login.png" class="img-fluid" alt="">
                                    <div>
                                        <i class="fa fa-edit fa-lg"
                                            style="display: flex;justify-content: center;">&nbsp;Change Pic</i>
                                    </div>
                                </div>
                                <div class="col-md-9 pr-0 profilecol">
                                    <div class="edit">Edit&nbsp;&nbsp;&nbsp;<i class="fa fa-edit fa-lg"></i> </div>
                                    <div class="profile_form">
                                        <ul>
                                            <li>
                                                <div class="div_name1">Name :</div>
                                                <div class="div_name2">Stefiney Gibbs</div>
                                            </li>
                                            <li>
                                                <div class="div_name1">Sex :</div>
                                                <div class="div_name2">Male</div>
                                            </li>
                                            <li>
                                                <div class="div_name1">Description :</div>
                                                <div class="div_name3">This is an example of a comment. You can create
                                                    as many comments like this one
                                                    or sub comments as you like and manage all of your content inside
                                                    Account.</div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                
                            </div>
                            <div class="row w-100 m-0">
                                <div class="col-md-3 col-sm-12 p-0"><button class="btn mybtn mb-1"><i class="fa fa-heartbeat fa-lg"></i>&nbsp;Timeline</button>
                                </div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1"><i class="fa fa-info fa-lg"></i>&nbsp;About</button></div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1"><i class="fa fa-image fa-lg"></i>&nbsp;Album</button></div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1"><i class="fa fa-paw fa-lg"></i>&nbsp;Pets</button></div>
                                <div class="col-md-3 col-sm-12 p-0"><button class="btn mybtn mb-1"><i class="fa fa-upload fa-lg"></i>&nbsp;My Uploads</button>
                                </div>
                            </div>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>

                <div class="post">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row d-flex w-100 pt-4 m-0">
                                <div class="col-md-10 col-sm-6">
                                    <h1>User Interface PSD Source files Web Designing for web</h1>
                                </div>
                                <div class="col-md-2 col-sm-6 sidecate">
                                    <p style="text-align: center;">Cats</p>
                                </div>
                                <div class="col-md-8 col-sm-12 pb-2">
                                    <span class="username"><img src="../../assets/images/img_6.png" alt="">&nbsp;&nbsp;Username</span>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <span class="username">12 Jan 2020</span>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <span class="username">12:00 Am</span>
                                </div>
                                <div class="col-md-12 col-sm-12 postimg pb-3">
                                    <img src="../../assets/images/b1.jpg" style="height: 300px; width: 100%;" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-2 col-sm-12 p-1 pl-3"><button class="btn btn-warn w-100 mb-3"><i class="fa fa-share fa-lg"></i>  Share</button></div>
                                <div class="col-md-2 col-sm-12 p-1"><button class="btn btn-warn w-100 mb-3"><i class="fa fa-flag fa-lg"></i>  Flag</button></div>
                                <div class="col-md-2 col-sm-12 p-1"><button class="btn btn-warn w-100 mb-3"><i class="fa fa-paw fa-lg"></i> 00 Likes</button></div>
                                <div class="col-md-3 col-sm-12 p-1"><button class="btn btn-warn w-100 mb-3"><i class="fa fa-comment fa-lg"></i> 00 Comment</button></div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-md-4 col-sm-12">
                <button class="btn mybtn mt-4" data-toggle="modal" data-target="#exampleModal"><i
                        class="fa fa-upload fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Uploads
                    Post</button>
                <button class="btn mybtn mt-1"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Invite
                    Friends</button>
                <!---categories--------------------------->
                <div class="card mt-3 mb-3 mycard pb-0">
                    <div class="card-header cate">
                        <i class="fa fa-bars fa-lg"></i> Categories
                    </div>
                    <div class="card-body">
                        <ul>
                            <li><img src="assets/images/cat.png" alt=""> Cat</li>
                            <li><img src="assets/images/dog.png" alt=""> Dog</li>
                            <li><img src="assets/images/horse.png" alt=""> Horse</li>
                            <li><img src="assets/images/bird.png" alt=""> Birds</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--Model-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="z-index: 99999;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Post Upload...</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="">Select Categories</label>
                        <select name="" id="" class="form-control mb-3">
                            <option value="0">Choose Your Pet Categories</option>
                            <option value="">Cats</option>
                        </select>
                        <label for="">Discription Your Pet</label>
                        <textarea name="" id="" cols="" rows="5" class="form-control mb-3"></textarea>
                        <label for="">Choose Picture</label>
                        <input type="file" name="" id="" class="mb-3"><br>
                        <!-- <button class="btn postbtn"><i class="fa fa-send fa-lg"></i>&nbsp;&nbsp;&nbsp;Post</button> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning"><i
                        class="fa fa-send fa-lg"></i>&nbsp;&nbsp;&nbsp;Post</button>
            </div>
        </div>
    </div>
</div>