<div class="timeline">
    <div class="container">
        <div class="row d-flex justify-content-center flex-column-reverse flex-lg-row w-100">
            <div class="col-md-8 col-sm-12">
                <div class="profile">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="row w-100">
                                <div class="col-md-3">
                                    <img src="assets/images/login.png" class="img-fluid" alt="">
                                    <div>
                                        <i class="fa fa-edit fa-lg" style="display: flex;justify-content: center;">&nbsp;Change Pic</i>
                                    </div>
                                </div>
                                <div class="col-md-9 pr-0 profilecol">
                                    <div class="edit">Edit&nbsp;&nbsp;&nbsp;<i class="fa fa-edit fa-lg"></i> </div>
                                    <div class="profile_form">
                                        <ul>
                                            <li>
                                                <div class="div_name1">Name :</div>
                                                <div class="div_name2">Stefiney Gibbs</div>
                                            </li>
                                            <li>
                                                <div class="div_name1">Sex :</div>
                                                <div class="div_name2">Male</div>
                                            </li>
                                            <li>
                                                <div class="div_name1">Description :</div>
                                                <div class="div_name3">This is an example of a comment. You can create
                                                    as many comments like this one
                                                    or sub comments as you like and manage all of your content inside
                                                    Account.</div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 m-0">
                                <div class="col-md-3 col-sm-12 p-0"><button class="btn mybtn mb-1">Timeline</button></div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1">About</button></div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1">Album</button></div>
                                <div class="col-md-2 col-sm-12 p-0"><button class="btn mybtn mb-1">Pets</button></div>
                                <div class="col-md-3 col-sm-12 p-0"><button class="btn mybtn mb-1">My Uploads</button></div>
                            </div>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <button class="btn mybtn mt-4"><i class="fa fa-send fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Uploads Post</button>
                <button class="btn mybtn mt-1"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Invite Friends</button>

            </div>
        </div>
    </div>
</div>