<div class="login">
    <div class="row w-100 m-0">
        <div class="col-md-6 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12 logincontainer">
            <div class="container ">
                <h1>Login Here...</h1>
                <img src="../../assets/images/login.png" alt="">
                <div class="form-group">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col-md-12 col-sm-12 mb-3">
                            <input type="text" class="form-control" placeholder="Your Username" name="" id="">
                        </div>
                        <div class="col-md-12 col-sm-12 mb-3">
                            <input type="password" class="form-control" placeholder="Your Password" name="" id="">
                        </div>
                        <div class="col-md-12 col-sm-12 mb-3">
                            <input type="checkbox">&nbsp;<span style="color: #fff;">Remember Me</span>
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="submit" class="btn w-100" value="Login">
                        </div>
                        <div class="col-md-12 col-sm-12 mb-3 text-center">
                            <a [routerLink]="[ '/signup']">No account? Click Here...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>