.signup{
    background: url(../../assets/images/feedback.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 87px;
    min-height: 450px;
}
.signup .row .signupcontainer{
    background: linear-gradient(45deg, #207dff 0%, #00bd55 100%); 
    /* background-color: #ada9ab; */
    opacity: .8;
    min-height: 450px;
}
.signup .row .signupcontainer .container h1{
    color: #fff;
    font-family:'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
}
.signup .row .signupcontainer .container input[type=email],[type=password],[type=text]{
    background: transparent !important;
    color: black;
    border: none;
    border-bottom: 1px solid #fff;
}
.signupcontainer .container a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family:'Roboto Slab', serif;
    font-weight: 700;
}
.signupcontainer .container a:hover{
    color: black;
}
::placeholder {
    color: #fff;
  }

.btn{
    background-color: #FF8008;
    color: #fff;
    font-family:'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 2px !important;

}