.slider .card{
    background: black;
    /* background: url(../../assets/images/bg_2.jpg); */
    opacity: .9;
}
.slider .carousel-item{
    background-image: url(../../assets/images/bg_1.jpg);
}
.slider .card img{
    height: 450px;
    padding-right: 150px !important;
}
.slider .card h1{
    font-family:'Roboto Slab', serif;
    color: #fff;
    font-size: 30px;
    /*text-align: center;*/
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    font-weight: bold;
    text-transform: capitalize;
}
.slider .card p{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    /*text-align: center;*/
    padding-left: 50px;
    padding-right: 50px;
    text-transform: capitalize;
    text-align: justify !important;
}

