<div class="blog">
    <div class="container">
        <h1>Latest news from our blog</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="assets/images/b1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted"><span>April 17,2020</span><span>Admin</span><i class="fa fa-comments fa-lg"></i><span>5</span></small>
                        <h3 class="card-title">Even the all-powerful Pointing has no control about the blind texts</h3>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="assets/images/b2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted"><span>April 17,2020</span><span>Admin</span><i class="fa fa-comments fa-lg"></i><span>5</span></small>
                        <h3 class="card-title">Even the all-powerful Pointing has no control about the blind texts</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="assets/images/b3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted"><span>April 17,2020</span><span>Admin</span><i class="fa fa-comments fa-lg"></i><span>5</span></small>
                        <h3 class="card-title">Even the all-powerful Pointing has no control about the blind texts</h3>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-warning mt-5">View More...</button>
    </div>
</div>